:root {
  --tertiary-med-or-tertiary: var(--ld-80);
  --d-nav-color--active: var(--ld-70);
  --tertiary: var(--ld-70);
  --tertiary-rgb: 230, 157, 0;
  --tertiary-hover: var(--ld-60);
  --d-selected: var(--ld-90);
  --tertiary-low-or-tertiary-high: var(--secondary-very-high);
  --tertiary-low: var(--ld-tl);
  --heading-font-family: '霞鹜新晰黑';
  --font-family: '霞鹜新晰黑';
}

html {
  font-family: '霞鹜新晰黑' !important;
}

.btn {
  transition: background-color ease 0.24s,
              background-image ease 0.24s,
              color ease 0.24s;

  & .d-icon {
    transition: background-color ease 0.24s,
                color ease 0.24s;
  }
}

.wrap {
  --d-wrap-padding-h: 10px;
}

.loading-indicator-container .loading-indicator {
  background-color: var(--ld-80);
}

#main {
  background: var(--background);
}

#main-outlet {
  padding-top: 0;
}

body.has-sidebar-page #main-outlet-wrapper {
  gap: 0 12px !important;
}

html.scheme-dark {
  .loading-indicator-container .loading-indicator {
    background-color: var(--ld-70);
  }

  #main {
    background: transparent;
  }
}
