.search-menu .search-input,
.search-menu-container .search-input {
  border-radius: 10px;
  background-color: var(--surface-bg);
  border: none;
  outline: 1px solid var(--primary-low);
  outline-offset: -1px;
  box-shadow: var(--button-shadow);
  transition: outline-color 0.3s ease;

  &:focus-within {
    box-shadow: var(--panel-shadow);
  }
}

.welcome-banner .btn.search-icon:not(.has-search-button-text) svg {
  color: var(--primary-medium);
}

.search-container .search-cta:hover {
  background-color: var(--ld-60);
}

.search-menu .search-link:focus,
.search-menu .search-link:hover,
.search-menu-container .search-link:focus,
.search-menu-container .search-link:hover {
  background-color: var(--ld-hl);
}

.search-container {
  background: none;
  filter: var(--panel-shadow-filter);

  & .search-header {
    border-radius: 10px 10px 0px 0px;
    padding: 20px 18px;
    padding-bottom: 0;
    background-color: var(--surface-bg);
    border: 1px solid var(--d-sidebar-border-color);
    border-bottom: none;

    & .search-page-heading {
      display: none;
    }

    & .search-notice>* {
      margin-bottom: 0;
    }
  }

  & .search-filters {
    user-select: none;
    background: none;

    & details.search-advanced-additional-options,
    & details.advanced-filters {
      &>summary {
        display: flex;
        align-items: center;
        gap: 3px;
        padding-left: 4px;
        margin: 10px 0 !important;
        transition: color 0.24s ease-in-out;

        &::before {
          content: "";
          display: inline-block;
          margin: 0;
          width: 14px;
          height: 14px;
          background-color: currentColor;
          mask-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj4KICA8cGF0aCBkPSJNMjc4LjYgMjMzLjRjMTIuNSAxMi41IDEyLjUgMzIuOCAwIDQ1LjNsLTE2MCAxNjBjLTEyLjUgMTIuNS0zMi44IDEyLjUtNDUuMyAwcy0xMi41LTMyLjggMC00NS4zTDIxMC43IDI1NiA3My40IDExOC42Yy0xMi41LTEyLjUtMTIuNS0zMi44IDAtNDUuM3MzMi44LTEyLjUgNDUuMyAwbDE2MCAxNjB6Ij48L3BhdGg+Cjwvc3ZnPg==");
          mask-repeat: no-repeat;
          mask-size: contain;
        }
      }

      &[open] > summary::before {
        mask-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj4KICA8cGF0aCBkPSJNMjAxLjQgMzc0LjZjMTIuNSAxMi41IDMyLjggMTIuNSA0NS4zIDBsMTYwLTE2MGMxMi41LTEyLjUgMTIuNS0zMi44IDAtNDUuM3MtMzIuOC0xMi41LTQ1LjMgMEwyMjQgMzA2LjcgODYuNiAxNjkuNGMtMTIuNS0xMi41LTMyLjgtMTIuNS00NS4zIDBzLTEyLjUgMzIuOCAwIDQ1LjNsMTYwIDE2MHoiPjwvcGF0aD4KPC9zdmc+");
        mask-repeat: no-repeat;
        mask-size: contain;
      }
    }

    & .count-group input[type="number"] {
      border-radius: 8px;
    }

    & .search-advanced-filters {
      background: none;
    }

    & .search-advanced-options {
      column-count: 1 !important;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 10px;

      & .control-group {
        height: fit-content;
        min-height: 0;
        text-wrap: nowrap;
        margin-bottom: 0;

        & .controls label:not(.checkbox-label){
          font-weight: normal;
        }
      }
    }

    @media screen and (min-width: 551px) {
      & .search-advanced-options {
        column-count: 1 !important;
        column-gap: 2em !important;

        & .control-group {
          width: calc((100% - 2em) / 2);
          min-width: 0;
        }

        & .category-experts-search-fields {
          width: 100%;
        }
      }
    }
  }

  & .semantic-search__container.search-results {
    border-radius: 0px 0px 10px 10px;
    margin: 0;
    padding: 20px;
    padding-top: 0;
    background-color: var(--surface-bg);
    border: 1px solid var(--d-sidebar-border-color);
    border-top: none;

    & .semantic-search__searching {
      margin-left: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;

      & .semantic-search__searching-text {
        margin-left: 0;
      }
    }
  }

  & .search-bar {
    background: none;

    & .search-query {
      padding: 10px 12px;
      line-height: 1.4;
      flex: 3 1 0;
    }

    & .select-kit {
      position: relative;
      flex: 2 1 0;
    }

    & .search-cta {
      flex: 1 1 0;
      text-wrap: nowrap;
    }

    & .select-kit .select-kit-header:not(.btn),
    & .search-query {
      outline: 1px solid var(--d-sidebar-border-color);
      border: none;
      outline-offset: -1px;
      transition: outline-color 0.3s ease;

      &:focus {
        outline: 2px solid var(--tertiary);
        outline-offset: -2px;
      }
    }
  }

  & .search-bar .search-cta,
  & .search-bar .search-query,
  & .d-date-input .date-picker,
  & .select-kit .select-kit-header:not(.btn) {
    border-radius: 8px;
    outline: 1px solid var(--d-sidebar-border-color);
    border: none;
    outline-offset: -1px;
    transition: outline-color 0.3s ease;

    &:focus {
      outline: 2px solid var(--tertiary);
      outline-offset: -2px;
    }
  }

  
  & .select-kit.multi-select.is-expanded .multi-select-header, 
  & .select-kit.multi-select .multi-select-header:focus {
    outline: 2px solid var(--tertiary);
    outline-offset: -2px;
  }

  & .select-kit.multi-select {
    background: none;
  }

  & .select-kit.is-expanded .select-kit-body {
    position: absolute !important;
    transform: none !important;
    top: calc(100% + 6px) !important;
    width: 100% !important;

    & .select-kit-collection {
      position: absolute;
      top: 100%;
      background: var(--secondary);
    }
  }

  & .search-advanced {
    & .search-info {
      border-bottom: none;
      padding: 20px 0;
      padding-inline: 1rem !important;

      &>* {
        margin: 0 !important;
      }
    }

    & .search-results:last-child {
      padding: 0 18px;
    }
  }
}

html.scheme-dark {
  .search-container {
    filter: var(--panel-shadow-dark-filter);

    & .search-cta:hover {
      background-color: var(--ld-80);
    }

    & .search-header {
      background-color: var(--surface-bg-dark);
    }

    & .semantic-search__container.search-results {
      background-color: var(--surface-bg-dark);
    }
  }

  .search-menu .search-input,
  .search-menu-container .search-input {
    background-color: var(--surface-bg-dark);
  }

  .search-menu .search-link:focus,
  .search-menu .search-link:hover,
  .search-menu-container .search-link:focus,
  .search-menu-container .search-link:hover {
    background-color: var(--ld-hl-dark);
  }
}
