:root {
  --d-sidebar-row-height: 2.5em;
}

.sidebar-wrapper {
  margin-left: 10px;
  background: none;
  backdrop-filter: blur(4px);
  border-radius: 8px;
  height: calc(var(--composer-vh, 1dvh) * 100 - var(--main-outlet-offset, 0px) - 20px);

  &:has(.sidebar-container) {
    border: 1px solid var(--d-sidebar-border-color);
  }

  & .sidebar-container {
    border-right: none;
    padding-top: 10px;
  }

  & .sidebar-sections {
    padding: 0;
    padding-right: 2px;
    padding-bottom: 0.7em;
    overflow-y: visible;

    & div:nth-child(4) {
      border-bottom: none;
    }
  }
}

.sidebar-section-link-wrapper .sidebar-section-link {
  border-radius: 0px 6px 6px 0px;

  &.active {
    background-color: var(--primary-95);
    border-left: 3px solid var(--primary-80);
    height: calc(var(--d-sidebar-row-height) - 0.18em);

    & .sidebar-section-link-prefix.icon {
      margin-left: -3px;
    }
  }

  & .sidebar-section-link-prefix.icon {
    font-size: 16px;
    margin-right: 4.5px;
  }

  & .sidebar-section-link-suffix.icon.unread svg,
  &.active .sidebar-section-link-suffix.icon.unread svg,
  &:hover .sidebar-section-link-suffix.icon.unread svg {
    color: var(--primary-80);
    width: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }
}

.sidebar-section-wrapper {
  padding-bottom: 0.35em !important;

  &[data-section-name="chat-dms"],
  &[data-section-name="chat-channels"]{
    display: none;
  }

  & .sidebar-section-content {
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }

  & .sidebar-section-header-wrapper {
    height: fit-content;
    border-radius: 0px 6px 6px 0px;
    padding: 8px;
    padding-left: 9px;

    &:focus-within {
      background: none;
    }

    & .sidebar-section-header-button {
      margin-right: 1px;
      border-radius: 4px;
    }

    & .sidebar-section-header-caret {
      margin-right: 3px;
    }
  }
}

.sidebar-wrapper .btn-icon-text {
  display: none;
}

.sidebar-footer-wrapper {
  background: var(--sidebar-footer-bg);

  & .sidebar-footer-actions {
    display: block;
  }

  & .sidebar-footer-container {
    padding: 12px;
    padding-top: 3px;
    padding-bottom: 10px;

    &::before {
      background: linear-gradient(to bottom, transparent, var(--sidebar-footer-bg));
      top: -2em;
      height: 2em;
    }
  }
}

.sidebar-theme-toggle-dropdown.select-kit.combo-box .select-kit-header {
  display: none;
}

.fk-d-menu__inner-content {
  border-radius: 8px;
  width: 80%;
  overflow-x: hidden;
}

.fk-d-menu.interface-color-selector-content.-expanded {
  box-shadow: none;
}

html.scheme-dark {
  .sidebar-wrapper {
    background: var(--sidebar-bg-dark);
  }

  .sidebar-section-link-wrapper .sidebar-section-link {
    &.active {
      background-color: var(--primary-bg);
    }

    &.active .sidebar-section-link-content-text {
      color: var(--neutral-30);
    }

    & .sidebar-section-link-content-text {
      color: var(--neutral-80);
    }

    & .sidebar-section-link-prefix.icon {
      color: var(--neutral-80);
    }

    &.active .sidebar-section-link-prefix.icon {
      color: var(--neutral-30);
    }

    & .sidebar-section-link-suffix.icon.unread svg,
    &:hover .sidebar-section-link-suffix.icon.unread svg {
      color: var(--primary-70);
    }

    &.active .sidebar-section-link-suffix.icon.unread svg {
      color: var(--primary-65);
    }
  }

  .sidebar-footer-wrapper {
    background: var(--sidebar-footer-bg-dark);

    & .sidebar-footer-container::before {
      background: linear-gradient(to bottom, transparent, var(--sidebar-footer-bg-dark));
    }
  }
}
