.topic-list {
    .topic-list-header {
        & tr {
            border-bottom: none;
            padding: 6px 8px;
        }
    }

    .topic-list-body {
        border-top: none;

        & .topic-list-data {
            padding: 10px 12px;
        }
    }
}

#list-area .show-more {
    position: static;
}