img.avatar,
img.prefix-image {
  border: 1px solid var(--avatar-border) !important;
}

#topic-title {
  & .topic-category {
    margin-top: 2px;
  }

  & .discourse-tags {
    & .discourse-tag.box {
      margin-right: 0;
      padding: 0 4px;
      background: none;
      border: 1px solid var(--primary-300);
      border-right: none;
      background-color: var(--surface-bg);
      box-shadow: var(--small-shadow);

      &:first-child {
        border-radius: 6px 0px 0px 6px;

        &:last-child {
          border-radius: 6px;
        }
      }

      &:last-child {
        border-radius: 0px 6px 6px 0px;
        border-right: 1px solid var(--primary-300);
      }
    }
  }

  & .badge-category__wrapper {
    padding: 0 4px;
    background-color: var(--surface-bg);
    border: 1px solid var(--primary-300);
    box-shadow: var(--small-shadow);
    border-radius: 6px;
  }
}

.topic-list-item td:first-of-type,
.topic-post {
  border: none;
}

.topic-avatar {
  border-top: none;
}

.topic-body {
  padding: 0;
  padding-left: 16px;
  border-top: none;

  & .topic-meta-data.embedded-reply {
    padding-bottom: 0;
  }

  & .topic-meta-data {
    padding-top: 18px;
    padding-bottom: 4px;
  }

  & .post-links-container {
    & .post-links {
      margin: 0;
      border-top: 0;

      & .expand-links {
        display: flex;
        align-items: center;
        gap: 4px;

        &::before {
          content: "";
          display: inline-block;
          width: 1em;
          height: 1em;
          mask-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj4KICA8cGF0aCBkPSJNMjAxLjQgMzc0LjZjMTIuNSAxMi41IDMyLjggMTIuNSA0NS4zIDBsMTYwLTE2MGMxMi41LTEyLjUgMTIuNS0zMi44IDAtNDUuM3MtMzIuOC0xMi41LTQ1LjMgMEwyMjQgMzA2LjcgODYuNiAxNjkuNGMtMTIuNS0xMi41LTMyLjgtMTIuNS00NS4zIDBzLTEyLjUgMzIuOCAwIDQ1LjNsMTYwIDE2MHoiPjwvcGF0aD4KPC9zdmc+");
          mask-repeat: no-repeat;
          mask-size: contain;
          background-color: currentColor;
        }
      }
    }
  }

  & .regular.contents {
    background-color: white;
    box-shadow: var(--button-shadow);
    border-radius: 8px;
    outline: 1px solid var(--d-sidebar-border-color);

    & .cooked {
      & aside {
        &.quote {
          margin-left: -12px;

          & .title {
            border-radius: 0px 6px 0px 0px;
          }

          & blockquote:last-child {
            border-radius: 0px 0px 8px 0px;
          }
        }

        & blockquote {
          margin-left: 0;
        }

        &.onebox {
          border: none;
          border-radius: 6px;
        }
      }

      & blockquote {
        border-radius: 0px 6px 6px 0px;
        margin-left: -12px;
      }

      & > *:nth-last-child(2) {
        margin-bottom: 0;
      }

      .topic-owner .contents > &::after {
        content: "Oʀɪɢɪɴᴀʟ Pᴏꜱᴛᴇʀ";
        margin-right: 6px;
        color: var(--ld-70);
      }
    }

    & .lightbox-wrapper {
      & .lightbox {
        border-radius: 6px;

        &:hover .meta {
          border-radius: 0px 0px 6px 6px;
        }
      }
    }

    & .post-menu-area {
      padding-left: 0;
      margin: 0;
      margin-top: 6px;
    }

    & .post-controls {
      padding: 0 10px;

      & > button:first-child {
        margin-left: -10px;
      }

      & .actions button {
        transition: color 0.2s ease;
        padding: 10px 6px;

        & .d-icon {
          transition: color 0.2s ease;
        }

        &:hover {
          background: none;
        }

        & .d-button-label {
          font-size: 15px;
        }
      }

      & .show-replies {
        padding: 12px;
        box-sizing: border-box;
        border-radius: 8px;

        &[aria-expanded="true"] > span {
          color: var(--primary-very-high);
        }

        &:hover[aria-expanded="false"] {
          background: none;
        }
      }

      & .actions .discourse-reactions-actions,
      & .actions .discourse-reactions-double-button {
        &:hover {
          background: none;
        }

        & .discourse-reactions-reaction-button:hover .reaction-button {
          background: none;
        }
      }
    }

    & .embedded-posts.bottom .collapse-up {
      border-radius: 6px;
    }
  }
}

.small-action.topic-post-visited .topic-post-visited-line {
  margin-bottom: 10px;
  opacity: 0.8;
}

.with-topic-progress {
  bottom: calc(env(safe-area-inset-bottom) + var(--composer-height, 4px));
}

.progress-back-container {
  right: -8px;
  bottom: calc(100% + 4px);
  border-radius: 6px;
}

.post-actions {
  margin: 0;
}

#topic-progress-wrapper #topic-progress {
  border: 1px solid var(--ld-bg);
  border-radius: 6px;

  & .bg {
    background-color: var(--ld-bg);
  }
}

.topic-notifications-button .reason,
#topic-footer-buttons .topic-footer-main-buttons {
  justify-content: space-between;

  & .btn {
    border-radius: 6px;
  }

  & .create {
    text-wrap: nowrap;
  }
}

.topic-timer-info {
  border-top: none;
}

.topic-timer-info .topic-timer-heading {
  padding: 10px 8px;
  font-family: inherit;
}

.topic-map.--bottom {
  border-bottom: none;
}

.more-topics__container .nav li .btn {
  padding: 0.54em 5px;
}

.post-notice {
  padding: 10px 12px;
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 8px;
  border: 1px solid var(--primary-low);
  border-radius: 8px;
  background: none;

  & .d-icon {
    font-size: 1.6em;
    margin-right: 0;
    width: 1em;
  }
}

.read-state {
  color: var(--read-state-bg);
  display: flex;
  align-items: center;
  justify-content: center;

  & .svg-icon,
  .svg-icon-title {
    height: 0.9em;
    width: 0.9em;
  }
}

.more-topics__container {
  & .nav.nav-pills > li a,
  & .nav.nav-pills > li button {
    & .d-icon {
      margin-right: 6px;
    }

    &:active {
      background: none;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 1px;
      right: 0;
      height: var(--d-nav-underline-height);
    }

    &:hover {
      box-shadow: none;

      &::after {
        background-color: var(--secondary-high);
      }
    }

    &.active {
      box-shadow: none;
      position: relative;
      padding: 0.8em 0.33em;

      & .d-icon {
        margin-right: 5px;
      }
    }
  }

  & .more-topics__browse-more {
    font-size: 18px;
    font-family: inherit;

    & .badge-category__wrapper {
      font-size: 18px;
      padding: 0 6px;
      gap: 6px;

      & .badge-category__icon {
        font-size: 26px;

        & svg {
          margin-right: 0;
        }
      }
    }
  }
}

.ember-view.pinned-button .reason {
  width: 100%;
  justify-content: space-between;
}

.timeline-container .topic-timeline {
  & .timeline-handle {
    background-color: var(--ld-bg);
  }

  & .timeline-scrollarea {
    border-color: var(--ld-bg);
  }
}

html.scheme-dark {
  #topic-title {
    & .badge-category__wrapper,
    & .discourse-tags .discourse-tag.box {
      background-color: var(--surface-bg-dark);
      border-color: var(--primary-200);
      box-shadow: var(--small-shadow-dark);
    }
  }

  .topic-body .regular.contents {
    background-color: var(--message-bg-dark);
    box-shadow: var(--button-shadow-dark);
  }

  .timeline-container .topic-timeline {
    & .timeline-handle {
      background-color: var(--ld-80);
    }

    & .timeline-scrollarea {
      border-color: var(--ld-80);
    }
  }
}
