:root {
  --ld-0: #000000;
  --ld-10: #281800;
  --ld-20: #442c00;
  --ld-30: #614000;
  --ld-40: #805600;
  --ld-45: #926200;
  --ld-50: #a06d00;
  --ld-65: #f1ab13;
  --ld-60: #c28500;
  --ld-70: #e59d00;
  --ld-80: #ffba43;
  --ld-90: #ffddaf;
  --ld-95: #ffeedb;
  --ld-99: #fffbff;
  --ld-100: #ffffff;
  
  --sidebar-footer-bg: #ffffff;
  --sidebar-footer-bg-dark: #131313e3;
  --ld-bg: #f7d4a7;
  --ld-tl: #fff1df;
  --ld-hl: #fff5e5;
  --ld-hl-dark: #604f34;
  --primary-low-and-high: #fadfba;
  --avatar-border: #ffd59f;
  --message-bg: #f8f8f8;
  --message-bg-dark: #1d1c1c;
  --header-bg: #ffffff73;
  --header-bg-dark: #00000081;
  --surface-bg: #fafafa;
  --surface-bg-dark: #181818;
  --read-state-bg: #eba818c4;
  --background: #f7f7f7;
  --background-dark: #222222;

  --button-shadow: 
        0 1px 1px #0000001a,
        0.3px 1px 2px #00000014,
        inset 0 1px 1px #00000004;
  --button-shadow-dark: 
        0 2px 8px #0000004d,
        0 1px 4px #00000033,
        inset 0 1px 1px #00000016;
  --panel-shadow: 
        0 2px 3px #00000014,
        0 4px 10px #0000000f;
  --panel-shadow-filter: 
        drop-shadow(0 1px 2px #00000014)
        drop-shadow(0 3px 7px #0000000f);
  --panel-shadow-dark: 
        0 1.2px 1.5px #ffffff0d,
        0 5px 8px #00000040,
        0 8px 16px #00000026;
  --panel-shadow-dark-filter: 
        drop-shadow(0 1.2px 1.5px #ffffff0d)
        drop-shadow(0 5px 7px #00000040)
        drop-shadow(0 6px 9px #00000026); 
  --small-shadow:
        0 1px 2px #00000014,
        inset 0 1px 1px #00000004;
  --small-shadow-dark:
        0 2px 4px #00000014,
        inset 0 1px 1px #00000015;
  --pebble-shadow: inset -2px -2px 3px #0000001e,
                   inset 1px 1px 4px #ffffffb4,
                   inset 1px 1px 3px #0000001a,
                   1px 1px 5px #0000000a;
}
