:root {
  --primary-0: #000000;
  --primary-10: #281800;
  --primary-20: #442c00;
  --primary-30: #614000;
  --primary-40: #805600;
  --primary-45: #926200;
  --primary-50: #a06d00;
  --primary-65: #f1ab13;
  --primary-60: #c28500;
  --primary-70: #e59d00;
  --primary-80: #ffba43;
  --primary-90: #ffddaf;
  --primary-95: #ffeedb;
  --primary-99: #fffbff;
  --primary-100: #ffffff;
  --secondary-0: #000000;
  --secondary-10: #261904;
  --secondary-20: #3d2e16;
  --secondary-30: #55442a;
  --secondary-40: #6e5b40;
  --secondary-50: #897457;
  --secondary-60: #a48d6e;
  --secondary-70: #bfa887;
  --secondary-80: #dcc3a1;
  --secondary-90: #f9dfbb;
  --secondary-95: #ffeedb;
  --secondary-99: #fffbff;
  --secondary-100: #ffffff;
  --tertiary-0: #000000;
  --tertiary-10: #002201;
  --tertiary-20: #003a03;
  --tertiary-30: #125211;
  --tertiary-40: #2d6b27;
  --tertiary-50: #46853e;
  --tertiary-60: #60a055;
  --tertiary-70: #79bb6d;
  --tertiary-80: #94d785;
  --tertiary-90: #aff49f;
  --tertiary-95: #caffbb;
  --tertiary-99: #f7ffef;
  --tertiary-100: #ffffff;
  --neutral-0: #000000;
  --neutral-10: #1f1b16;
  --neutral-20: #34302a;
  --neutral-30: #4b4640;
  --neutral-40: #635d57;
  --neutral-50: #7c766f;
  --neutral-60: #978f88;
  --neutral-70: #b2aaa2;
  --neutral-80: #cdc5bd;
  --neutral-90: #eae1d9;
  --neutral-95: #f9efe7;
  --neutral-99: #fffbff;
  --neutral-100: #ffffff;
  --neutral-variant-0: #000000;
  --neutral-variant-10: #221a10;
  --neutral-variant-20: #372f24;
  --neutral-variant-30: #4f4539;
  --neutral-variant-40: #675d50;
  --neutral-variant-50: #817567;
  --neutral-variant-60: #9b8f80;
  --neutral-variant-70: #b6a99a;
  --neutral-variant-80: #d2c4b4;
  --neutral-variant-90: #efe0cf;
  --neutral-variant-95: #feeedd;
  --neutral-variant-99: #fffbff;
  --neutral-variant-100: #ffffff;
  --error-0: #000000;
  --error-10: #410002;
  --error-20: #690005;
  --error-30: #93000a;
  --error-40: #ba1a1a;
  --error-50: #de3730;
  --error-60: #ff5449;
  --error-70: #ff897d;
  --error-80: #ffb4ab;
  --error-90: #ffdad6;
  --error-95: #ffedea;
  --error-99: #fffbff;
  --error-100: #ffffff;
  
  --sidebar-footer-bg: #f7f7f7;
  --sidebar-footer-bg-dark: #1b1b1b;
  --sidebar-bg-dark: #1f1f1f;
  --primary-bg: #f7d4a7;
  --primary-hl: #fff5e5;
  --primary-hl-dark: #604f34;
  --primary-low-and-high: #fadfba;
  --avatar-border: #ffd59f;
  --message-bg: #f8f8f8;
  --message-bg-dark: #2b2b2c;
  --header-bg: #ffffff33;
  --header-bg-dark: #00000066;
  --read-state-bg: #eba818c4;
}
