.btn {
  border-radius: 6px;

  transition:
    background-color ease-in-out 0.24s,
    background-image ease-in-out 0.24s,
    color ease-in-out 0.24s;

  & .d-icon {
    transition:
      background-color ease 0.24s,
      color ease 0.24s;
  }

  &.btn-default,
  &.btn-icon-text.show-summary,
  &.category-expert-endorse-btn,
  &.btn-icon-text:has(.d-icon-user-plus) {
    color: var(--primary-very-high);
    background-color: var(--surface-bg);
    border: 1px solid var(--d-sidebar-border-color);

    & svg.d-icon,
    & span {
      color: var(--primary-very-high);
    }

    &:hover {
      background-color: var(--primary-low);

      & svg.d-icon,
      & span {
        color: var(--primary-very-high);
      }
    }
  }
}

.dropdown-menu {
  & .btn-default,
  & .btn-icon-text {
    border: none;
  }
}

html.scheme-dark {
  .btn {
    &.btn-default,
    &.btn-icon-text.show-summary,
    &.category-expert-endorse-btn,
    &.btn-icon-text:has(.d-icon-user-plus) {
      background-color: var(--surface-bg-dark);

      &:hover {
        background-color: var(--primary-low);
      }
    }
  }
}
