@font-face {
  font-family: "霞鹜新晰黑";
  font-style: normal;
  font-weight: 400;
  src: url("https://github.com/KIY7086/Linux-DO-Theme/raw/refs/heads/main/LXGWNeoXiHeiScreen.woff2")  format("woff2");
}

:root {
  --heading-font-family: "霞鹜新晰黑";
  --font-family: "霞鹜新晰黑";
}

html {
  font-family: "霞鹜新晰黑" !important;
}
