:root {
  --tertiary-med-or-tertiary: var(--ld-80);
  --d-nav-color--active: var(--ld-70);
  --tertiary: var(--ld-70);
  --tertiary-rgb: 230, 157, 0;
  --tertiary-hover: var(--ld-60);
  --d-selected: var(--ld-90);
  --tertiary-low-or-tertiary-high: var(--secondary-very-high);
  --tertiary-low: var(--ld-tl);
}

.wrap {
  --d-wrap-padding-h: 10px;
}

.loading-indicator-container .loading-indicator {
  background-color: var(--ld-80);
}

body {
  background: var(--background);
}

#main-outlet {
  padding-top: 0;

  &:has(.topic-above-post-stream-outlet) {
    padding: 14px 10px;
    padding-bottom: 0;
  }
}

*:has(> input[type="checkbox"]) {
  display: flex !important;
}

input[type="checkbox"] {
  align-self: center;
  margin: 0;
  margin-right: 4px;
  cursor: pointer;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  visibility: hidden;
  position: relative;

  &::before {
    content: "";
    visibility: visible;
    display: block;
    position: absolute;
    height: 1em;
    width: 1em;
    background: currentColor;
    mask-image: var(--checkbox-empty);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    transition: background 0.3s ease;
  }

  &:checked::before {
    mask-image: var(--checkbox-check);
    background-color: var(--ld-70);
  }
}

.discourse-tags {
  display: flex;
  gap: 8px;

  & .discourse-tag.box {
    padding: 2px 4px;
    font-size: var(--font-down-1);
    box-shadow: none;
    border-radius: 4px;
    background-color: var(--primary-low);
  }
}

img.emoji {
  align-self: center;
  width: 1.1em;
  height: 1.1em;
  margin-right: 1px;
  margin-bottom: 1px;
}

.username {
  display: flex !important;
  align-items: center !important;
  margin-left: 1px;
  gap: min(0.2em, 4px);

  &::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    content: "";
    mask-image: var(--lucide-at);
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: currentColor;
    opacity: 0.6;
  }
}

body.has-sidebar-page
  #main-outlet-wrapper:not(:has(.topic-above-post-stream-outlet)) {
  gap: 0 12px !important;
}

img.avatar,
img.prefix-image {
  border: 1px solid var(--avatar-border) !important;
  background-color: var(--background) !important;
}

.topic-list-item.visited .topic-list-data a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: var(--primary);
}

html.scheme-dark {
  .loading-indicator-container .loading-indicator {
    background-color: var(--ld-70);
  }

  body {
    background: transparent;
  }

  img.avatar,
  img.prefix-image {
    background-color: var(--background-dark) !important;
  }

  .select-kit .select-kit-row.is-selected {
    background-color: var(--ld-50);
  }

  .user-menu .quick-access-panel li.unread,
  .user-menu .quick-access-panel li.pending,
  .user-notifications-list li.unread,
  .user-notifications-list li.pending {
    background-color: var(--ld-30);
  }
}
