:root {
  --ld-0: #000000;
  --ld-10: #281800;
  --ld-20: #442c00;
  --ld-30: #614000;
  --ld-40: #805600;
  --ld-45: #926200;
  --ld-50: #a06d00;
  --ld-65: #f1ab13;
  --ld-60: #c28500;
  --ld-70: #e59d00;
  --ld-80: #ffba43;
  --ld-90: #ffddaf;
  --ld-95: #ffeedb;
  --ld-99: #fffbff;
  --ld-100: #ffffff;

  --sidebar-footer-bg: #ffffff;
  --sidebar-footer-bg-dark: #131313e3;
  --ld-bg: #f7d4a7;
  --ld-tl: #fff1df;
  --ld-hl: #fff5e5;
  --ld-hl-dark: #604f34;
  --primary-low-and-high: #fadfba;
  --avatar-border: #ffd59f;
  --message-bg: #f8f8f8;
  --message-bg-dark: #1d1c1c;
  --header-bg: #ffffff73;
  --header-bg-dark: #00000081;
  --surface-bg: #fbfbfb;
  --surface-bg-dark: #181818;
  --read-state-bg: #eba818c4;
  --background: #f7f7f7;
  --background-dark: #222222;

  --editor-empty-state: url("https://raw.githubusercontent.com/KIY7086/Linux-DO-Theme/refs/heads/main/icons/editor-empty-state.svg");
  --checkbox-empty: url("https://raw.githubusercontent.com/KIY7086/Linux-DO-Theme/refs/heads/main/icons/checkbox-empty.svg");
  --checkbox-check: url("https://raw.githubusercontent.com/KIY7086/Linux-DO-Theme/refs/heads/main/icons/checkbox-check.svg");
  --lucide-at: url("https://raw.githubusercontent.com/KIY7086/Linux-DO-Theme/refs/heads/main/icons/lucide-at.svg");
  --chat-bot: url("https://raw.githubusercontent.com/KIY7086/Linux-DO-Theme/refs/heads/main/icons/chat-bot.svg");
  --arrow-right: url("https://raw.githubusercontent.com/KIY7086/Linux-DO-Theme/refs/heads/main/icons/arrow-right.svg");
  --arrow-down: url("https://raw.githubusercontent.com/KIY7086/Linux-DO-Theme/refs/heads/main/icons/arrow-down.svg");
  --question-not-solved: url("https://raw.githubusercontent.com/KIY7086/Linux-DO-Theme/refs/heads/main/icons/question-not-solved.svg");
}
